@{
    ViewData["Title"] = "About Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<!-- ***** About Us Page ***** -->
<div class="page-heading-about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            </div>
        </div>
    </div>
</div>

<div class="about-item">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="left-image">
                   
                </div>
            </div>
            <div class="col-lg-4">
                <div class="right-content">
                    <div class="about-map-image">
                        
                    </div>
                    <div class="down-content">
                        <h4>Aurora Brickwell</h4>
                        <ul>
                            <li>Biogrophy</li>
                            <li>Inspiration</li>
                        </ul>
                        <span><i class="fa fa-ticket"></i> Unique Designs</span>
                        <div class="main-dark-button">
                            <a href="ticket-details.html">Browse Products</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-upcoming-shows">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h2>Meet Aurora Brickwell: The Master Builder Extraordinaire</h2>
                <p><p>
                    Aurora Brickwell is not just your average Lego™ enthusiast; she's a renowned collector and a master builder whose passion for these iconic bricks knows no bounds. With a lifelong love affair with Lego™, Aurora has turned her hobby into an art form and a thriving business.<br />

                    As a prominent figure in the Lego™ community, Aurora has amassed a sizable social media following, where she shares her latest creations, insights into the world of Lego™, and even sells products through her official distributor license with The Lego Group™. Whether it's crafting intricate sets or designing her own unique creations, Aurora's dedication to the craft is unmatched. <br />

                    With her keen eye for detail and unwavering commitment to quality, Aurora has curated an impressive collection of Lego™ sets that are sure to delight both collectors and enthusiasts alike. But she doesn't stop there. Aurora is constantly pushing the boundaries of creativity, developing her own exclusive designs that capture the imagination of all who encounter them.<br />

                    Now, Aurora is embarking on an exciting new venture: launching her very own web app-based storefront. This platform will not only showcase her favorite Lego™ sets but also serve as a hub for her loyal followers to explore and purchase her exclusive designs. By shifting her sales from social media to her website, Aurora is opening up new avenues for Lego™ lovers to connect with her and her creations.<br />

                    Driven by a passion for innovation and a love for all things Lego™, Aurora Brickwell is not just a collector; she's a visionary whose creativity knows no bounds. Join her on this journey as she continues to build, create, and inspire the world, one brick at a time.
                </p></p>
                
            </div>
            <div class="col-lg-3">
                <div class="next-shows">
                    <h4><i class="fa fa-clock-o"></i>View Current Deal!</h4>
                    <ul>
                        <li>
                            <h5>Star Wars Set</h5>
                            <span>10% off<br>4/8/2024</span>
                            <div class="icon-button">
                                <a href="#">
                                    <i class="fa fa-shopping-cart"></i>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- *** Coming Events ***-->
<h1>Aurora's Favorites</h1>
<div class="coming-events">
    <div class="left-button">
        <div class="main-white-button">
            <a href="shows-events.html">Discover More</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="event-item">
                    <div class="thumb">
                        <a href="event-details.html"><img src="/assets/images/event-01.jpg" alt=""></a>
                    </div>
                    <div class="down-content">
                        <a href="event-details.html"><h4>Radio City Musical Hall</h4></a>
                        <ul>
                            <li><i class="fa fa-clock-o"></i> Tuesday: 15:30-19:30</li>
                            <li><i class="fa fa-map-marker"></i> Copacabana Beach, Rio de Janeiro</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="event-item">
                    <div class="thumb">
                        <a href="event-details.html"><img src="/assets/images/event-02.jpg" alt=""></a>
                    </div>
                    <div class="down-content">
                        <a href="event-details.html"><h4>Madison Square Garden</h4></a>
                        <ul>
                            <li><i class="fa fa-clock-o"></i> Wednesday: 08:00-14:00</li>
                            <li><i class="fa fa-map-marker"></i> Copacabana Beach, Rio de Janeiro</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="event-item">
                    <div class="thumb">
                        <a href="event-details.html"><img src="/assets/images/event-03.jpg" alt=""></a>
                    </div>
                    <div class="down-content">
                        <a href="event-details.html"><h4>Royce Hall</h4></a>
                        <ul>
                            <li><i class="fa fa-clock-o"></i> Thursday: 09:00-23:00</li>
                            <li><i class="fa fa-map-marker"></i> Copacabana Beach, Rio de Janeiro</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

