@{
    ViewData["Title"] = "Home Page";
}

<!-- ***** Main Banner Area Start ***** -->
<div class="main-banner">
    <div class="counter-content" style="font-size: 30px; color: #444; height: 75px;" onclick="redirectToProductsPage()">
        Daily Deal: <span id="countdown" style="font-size: 24px; color: #444; cursor:pointer;"></span>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-content">
                    <div class="next-show">
                        <i class="fa fa-arrow-up"></i>
                        <span>Limited Time Offer</span>
                    </div>
                    <h6>Presenting</h6>
                    <h2>Aurora Brickwell Creations</h2>
                    <div class="main-white-button">
                        <a href="#">Browse Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Function to update the countdown
    function updateCountdown() {
        // Set the end time 2 hours from now
        var endTime = new Date();
        endTime.setHours(endTime.getHours() + 2);

        var countdownElement = document.getElementById('countdown');

        // Update the countdown every second
        var countdownInterval = setInterval(function () {
            var now = new Date();
            var timeDifference = endTime - now;

            // If the countdown is over, display 00:00:00 and clear the interval
            if (timeDifference <= 0) {
                countdownElement.textContent = '00:00:00';
                clearInterval(countdownInterval);
                return;
            }

            // Calculate hours, minutes, and seconds
            var hours = Math.floor((timeDifference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((timeDifference % (1000 * 60)) / 1000);

            // Format the countdown string as HH:MM:SS
            var countdownString = ('0' + hours).slice(-2) + ':' + ('0' + minutes).slice(-2) + ':' + ('0' + seconds).slice(-2);

            // Update the countdown element
            countdownElement.textContent = countdownString;
        }, 1000); // Update every second
    }

    // Call the function when the page loads
    window.onload = function () {
        updateCountdown();
    };

    // Function to redirect to the products page
    function redirectToProductsPage() {
        window.location.href = '@Url.Action("Products", "Home")';
    }
</script>
<!-- ***** Main Banner Area End ***** -->
<!-- *** Owl Carousel Items ***-->
<div class="show-events-carousel">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="owl-show-events owl-carousel">
                    <div class="item">
                        <a href="event-details.html"><img src="assets/images/show-events-01.jpg" alt="" style="height: 200px;"></a>
                    </div>
                    <div class="item">
                        <a href="event-details.html"><img src="assets/images/show-events-02.jpg" alt="" style="height: 200px;"></a>
                    </div>
                    <div class="item">
                        <a href="event-details.html"><img src="assets/images/show-events-03.jpg" alt="" style="height: 200px;"></a>
                    </div>
                    <div class="item">
                        <a href="event-details.html"><img src="assets/images/show-events-04.jpg" alt="" style="height: 200px;"></a>
                    </div>
                    <div class="item">
                        <a href="event-details.html"><img src="assets/images/show-events-01.jpg" alt="" style="height: 200px;"></a>
                    </div>
                    <div class="item">
                        <a href="event-details.html"><img src="assets/images/show-events-02.jpg" alt="" style="height: 200px;"></a>
                    </div>
                    <div class="item">
                        <a href="event-details.html"><img src="assets/images/show-events-03.jpg" alt="" style="height: 200px;"></a>
                    </div>
                    <div class="item">
                        <a href="event-details.html"><img src="assets/images/show-events-04.jpg" alt="" style="height: 200px;"></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- *** Amazing Venus ***-->
<div class="amazing-venues">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="left-content">
                    <h4>Discover the Magic of Lego™ with Aurora</h4>
                    <p>
                        Aurora Brickwell is thrilled to open the doors of her virtual storefront and share her passion for Lego™ with the world. Each design is a labor of love, crafted with meticulous attention to detail and a boundless imagination. With her web app-based platform, Aurora invites you to experience the joy and wonder of her creations firsthand. Get ready to be inspired, delighted, and captivated by the magic of Lego™ as you explore Aurora's unique designs. Join her on this exciting adventure and let your imagination soar.
                    </p>
                    <br />
                    <p>
                        You can experience the imagination and creativity with Aurora Brickwell's curated collection of Lego™ sets and exclusive designs. From beloved classics to awe-inspiring creations, each product tells a story and invites you to be a part of the adventure. Whether you're a seasoned collector or a budding enthusiast, there's something for everyone in Aurora's virtual storefront. Explore, shop, and embark on your own Lego™ journey today.
                    </p>
                    <br>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="right-content">
                    <h5><i class="fa fa-map-marker"></i> Free Shipping</h5>
                    <span>As a registered user <br>you show your support,<br>and you enjoy free shipping on your first order from Auroroa!</span>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- *** Map ***-->
<div class="map-image">
    <img src="assets/images/about-map-image.jpg" alt="Maps of 3 Venues">
</div>

<!-- *** User Recommendations *** -->
<div class="also-like">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>You Might Enjoy...</h2>
            </div>
            <div class="col-lg-4">
                <div class="like-item">
                    <div class="thumb">
                        <a href="event-details.html"><img src="assets/images/like-01.jpg" alt=""></a>
                        <div class="icons">
                            <ul>
                                <li><a href="event-details.html"><i class="fa fa-arrow-right"></i></a></li>
                                <li><a href="ticket-details.html"><i class="fa fa-ticket"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="down-content">
                        <span>Sept 10 to 14, 2021</span>
                        <a href="event-details.html"><h4>Wonder Land Music and Arts Festival</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="like-item">
                    <div class="thumb">
                        <a href="event-details.html"><img src="assets/images/like-02.jpg" alt=""></a>
                        <div class="icons">
                            <ul>
                                <li><a href="event-details.html"><i class="fa fa-arrow-right"></i></a></li>
                                <li><a href="ticket-details.html"><i class="fa fa-ticket"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="down-content">
                        <span>Oct 11 to 16, 2021</span>
                        <a href="event-details.html"><h4>Big Water Splashing Festival</h4></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="like-item">
                    <div class="thumb">
                        <a href="event-details.html"><img src="assets/images/like-03.jpg" alt=""></a>
                        <div class="icons">
                            <ul>
                                <li><a href="event-details.html"><i class="fa fa-arrow-right"></i></a></li>
                                <li><a href="ticket-details.html"><i class="fa fa-ticket"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="down-content">
                        <span>Nov 10 to 18, 2021</span>
                        <a href="event-details.html"><h4>Tiger Dance Hip Hop Festival</h4></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- *** Featured Lego Sets ***-->
<div class="venue-tickets">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Featured Lego Sets</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="venue-item">
                    <div class="thumb">
                        <img src="assets/images/venue-01.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <div class="left-content">
                            <div class="main-white-button">
                                <a href="ticket-details.html">Purchase Tickets</a>
                            </div>
                        </div>
                        <div class="right-content">
                            <h4>Radio City Musical Hall</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur vinzi iscing elit, sed doers kontra.</p>
                            <ul>
                                <li><i class="fa fa-sitemap"></i>250</li>
                                <li><i class="fa fa-user"></i>500</li>
                            </ul>
                            <div class="price">
                                <span>1 ticket<br>from <em>$45</em></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="venue-item">
                    <div class="thumb">
                        <img src="assets/images/venue-02.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <div class="left-content">
                            <div class="main-white-button">
                                <a href="ticket-details.html">Purchase Tickets</a>
                            </div>
                        </div>
                        <div class="right-content">
                            <h4>Madison Square Garden</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur vinzi iscing elit, sed doers kontra.</p>
                            <ul>
                                <li><i class="fa fa-sitemap"></i>450</li>
                                <li><i class="fa fa-user"></i>650</li>
                            </ul>
                            <div class="price">
                                <span>1 ticket<br>from <em>$55</em></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="venue-item">
                    <div class="thumb">
                        <img src="assets/images/venue-03.jpg" alt="">
                    </div>
                    <div class="down-content">
                        <div class="left-content">
                            <div class="main-white-button">
                                <a href="ticket-details.html">Purchase Tickets</a>
                            </div>
                        </div>
                        <div class="right-content">
                            <h4>Royce Hall</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur vinzi iscing elit, sed doers kontra.</p>
                            <ul>
                                <li><i class="fa fa-sitemap"></i>450</li>
                                <li><i class="fa fa-user"></i>750</li>
                            </ul>
                            <div class="price">
                                <span>1 ticket<br>from <em>$65</em></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


