@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <li style="display: inline-block; margin-right: 10px;"><button type="submit" class="nav-link btn btn-link text-dark" style="padding: 0;"><img src="~/assets/images/logoutstud.jpg" style="width:70px"/></button></li>
    </form>
    <li style="display: inline-block; margin-right: 10px;"><a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a></li>
}
else
{
    <li style="display: inline-block; margin-right: 10px;">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login" style="padding: 0;"><img src="~/assets/images/Gear.jpg" style="width: 70px; vertical-align: middle;" /></a>
    </li>
}
